@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: #3b82f6; /* Blue */
  --color-main-dark: #1d4ed8; /* Deep Blue */
  --color-main-light: #93c5fd; /* Light Blue */
  --color-bg: #f9fafb; /* Neutral Background */
  --color-darkly: #1e293b; /* Dark Text */
  --color-lightly: #64748b; /* Light Text */
}

button {
  cursor: pointer;
}
